# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/
env/

# Django
*.log
db.sqlite3
media/

# Secrets
.env

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Static files (optional)
staticfiles/